/* latin-ext */
@font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varela/v16/DPEtYwqExx0AWHX5DR4ETvw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varela/v16/DPEtYwqExx0AWHX5Ax4E.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'varela';
}

.menu {
    background-color: gray; 
    display: flex;
    justify-content: center;
    height: 70px;
    gap: 25vw;
    align-items: center;
    color: white;
}


.menu a {
    width: 110px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: white;
}

.menu ul,li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: 20px;
    height: 40px;
}

.subMenu {
    height: 280px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu_2 {
    height: 400px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu_2 h1, h2{
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between; 
  }


.subMenu h2 {
    color: grey;
    font-size: 20px;
}

.subMenu a {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    background-color: green; 
    color: white;
    position: relative;
    top: 30px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.centro h2 {
    color: grey;
    margin-bottom: 60px;
}

.centro a {
    background-color: green;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

.container {
    gap: 3vw;
}

.card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    text-align: center;
}

.card img {
    margin-bottom: 20px;
}

.centro2 {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    color: white;
    text-align: center;
}

.centro2 h2 {
    color: rgba(256, 256, 256, 0.7);
    margin-bottom: 50px;
}

.centro2 p {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.centro2 a {
    background-color: white;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: green;
    margin-bottom: 30px;
}

.centro3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 380px;
    text-align: center;
}

.centro3 h2 {
    color: grey;
    margin-bottom: 50px;
}

.centro3 p {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.centro3 a {
    background-color: green;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

footer {
    height: 150px;
    background-color: black;
    color: rgb(167, 159, 159);
    display: flex;
    justify-content: center;
    align-items: center;

}