*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    overflow-y: hidden;
}

.menu{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 15vh;
    background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu img{
    height: 12vh;
    width: auto;
    position: relative;
    left: 1vw;
}

#imgEnd{
    position: relative;
    left: 60vw;
}

.menu h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    position: relative;
    left: 3vw;
    font-size: 80px;
}

.centro{
    position: relative;
    top: 2vh;
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 15vh);
}

.planoDeFundo{
    background-image: url(img/fundo_guitarras.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 15vh;
    height: 85vh;
}

.centro::-webkit-scrollbar {
    width: 8px; 
  }
  
  .centro::-webkit-scrollbar-thumb {
    background-color: #888; 
  }
  
  .centro::-webkit-scrollbar-button {
    display: none; 
  }

.escrever{
    position: relative;
    top: 4vh;
    left: 1vw;
}

#texto{
    border-radius: 20px;
    width: 93vw;
    height: 5vh;
}

#enviar{
    border-radius: 40px;
    height: 5vh;
    width: 5vw;
    background-color: red;
    color: black;
}

.msgUser{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 50vw;
    height: auto;
    margin-bottom: 5px;
}

.msgUser p{
    width: 48vw;
    margin-left: 1vw;
}

.msgBot{
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.6);
    width: 50vw;
    height: auto;
    margin-bottom: 5px;
}

.msgBot p{
    width: 48vw;
    margin-left: 1vw;
}

#contador{
    display: none;
}

@media screen and (max-width: 400px) {
    .menu h1{
        font-size: 25px;
        position: relative;
        left: 0vw;
    }
    .menu a{
        position: relative;
        left: 18vw;
        height: 13vh;
        width: 20vw;
        font-size: 10px;
        line-height: 1.2;
        padding-top: 2vh;
    }

    #texto{
        width: 85vw;
    }

    #enviar{
        width: 12vw;
        font-size: 10px;
    }
}